<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="from-group">
                <div class="pt-5 h-75 d-flex justify-content-around"> 
                    <div class="card pt-2">
                        <div class="bg-text pl-3">
                            <h5>
                                {{ 'Profile' | translate }}                     
                            </h5>
                        </div>
                        <div class="pt-4">
                            <div class="type1 mx-auto">
                                <div class="text-center text-white">
                                    <span class="text-bg-1">
                                        A
                                    </span>
                                </div>
                            </div>
                            <div class="text-center pb-2">
                                <div class="pb-5">
                                    <span class="bg-text-md">
                                        {{userInfo?.firstName}} {{userInfo?.lastName}}
                                    </span>
                                    <br/>
                                    <br/>
                                    <span class="bg-text-sm">
                                        {{ 'Administrator' | translate }}
                                    </span>
                                </div>
                                <button mat-stroked-button class="btn-block text-left w-75" 
                                    type="button" color="purple" (click)="getListUser()">
                                    {{ 'Users' | translate }}
                                    <mat-icon class="float-right pt-1">supervisor_account</mat-icon>
                                </button>
                                <button mat-stroked-button class="btn-block text-left w-75" 
                                    type="button" color="purple" (click)="getDeviceList()">
                                    {{ 'Devices' | translate }}
                                    <mat-icon class="float-right pt-1">receipt</mat-icon>
                                </button>
                                <button *ngIf="userList" mat-flat-button class="btn-block text-center w-75" 
                                    type="button" color="purple" (click)="openCreateDialog()">
                                    {{ 'Add-New-User' | translate }}
                                </button>
                                <button *ngIf="deviceList" mat-flat-button class="btn-block text-center w-75" 
                                    type="button" color="purple" (click)="openCreateDeviceDialog()">
                                    {{ 'Add-New-Device' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div *ngIf="userList">
                <app-user-list></app-user-list>
            </div>
            <div *ngIf="deviceList">
                <app-device-list></app-device-list>
            </div>
        </div>
    </div>
</div>
