.container {
    max-width: 100%;
    max-height: 100%;
    background-color: #F6F6F8;
}


.type1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #7B4FFF;
}

.bg-text {
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    color: #6B6974;
}

.bg-text-md {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    color: black;
}

.bg-text-sm {
    font-family: Roboto;
    font-style: normal;
    color: #6B6974;
}

.text-bg-1 {
    font-size: 90px;
    font-style: normal;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #7B4FFF;
}