<div class="container h-100">
    <div class="row">
        <div class="col-md-8">
            <div class="pl-3 pt-3">
                <div class="h-75">
                    <ul style="list-style-type:none">
                        <li class="bg-text-purple font-weight-bold"> 
                            <img src="/assets/images/Fill 17.png">
                            Feel your organs
                        </li>
                        <li class="div-pt-30">
                            <ng-container class="d-flex text-capitalize">
                                <span class="bg-text-title-1">
                                    NEW ORGANS
                                </span>
                                <br/>
                                <br/>
                                <span class="bg-text-title pt-4">
                                    THIS IS REALITY
                                </span>
                            </ng-container>
                        </li>
                        <li class="bg-text pt-3">Take care of your health easily</li>
                    </ul>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="align-self-auto div-pt-50">
                <img src="/assets/images/Fill 18.png">
            </div>
        </div>
    </div>
</div>