<div class="pt-5" *ngIf="deviceList">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="bg-text-lg"> {{ 'Device-List.Title' | translate }} </span>
            <br/>
            <br/>
            <br/>
            <span class="bg-text"> {{ 'Device-List.Description' | translate }} </span>
        </li>
        <ng-container *ngFor="let device of deviceList; let i = index">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-5">
                        <span class="bg-text pt-3">
                            {{ device.name}}
                        </span>
                        <br/>
                        <span class="bg-text-sm">
                            {{ device.limb.name}}
                        </span>
                    </div>
                    <div class="col-md-7">
                        <div class="float-right pt-2">
                            <button class="btn btn-danger btn-block btn-sm" (click)="deleteDevice(device.id)"
                            [disabled]='devicedeleted'> 
                            {{ 'Delete' | translate }}
                           </button>
                        </div>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
<div class="container pt-5" *ngIf="deviceList==null">
    <div class="d-flex justify-content-center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate"
            [diameter]="100"
            value="70">
        </mat-progress-spinner>
    </div>
</div>